.acc_conteiner {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.accordion-button {
    font-size: 20px;
    font-weight: 500;
}
.accordion-body p {
    text-indent: 2rem;
}
